
body {
    margin: 40px;
    font-family: sans-serif;
    background: #d3d3d3;
    text-align: center;
}

.app {
    width: 920px;
    margin: 40px auto;
    padding-left: 40px;
    padding-right: 40px;
}

